<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
  <link rel="stylesheet" href="/css/stylesheet.css" />
  <link rel="icon" href="/img/pic3.png" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Student Home</title>
  <!-- <title>Bootstrap Example</title> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

  <%- include('partials/header') %>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <% var clos=0%>
<% var active=0%>
<% var forward=0%>
<% var resolve=0%>
<% var users=0%>
<% for(var i=1; i< list.Complaint.length ;i++){%>
    <%if (list.Complaint[i].complain_status == "Not Resolved"){%>
        <%active++%>
     <%  } %>
     <%if (list.Complaint[i].complain_status == "Complain Resolved"){%>
        <%resolve++%>
     <%  } %>
     <%if (list.Complaint[i].complain_status == "Complain Resolved"){%>
        <%forward++%>
     <%  } %>
    <%  } %>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <% if(user){%>
                <li>
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
                
                <%}else{%>
                <li><a class="nav-link" href="/auth/login">Login</a></li>
                <%}%>
            <li class="nav-item">
                <a class="nav-link" href="/profile/complaint">Lodge Complain</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chatbot">Contact Us</a>
            <li class="nav-item">
                <a class="nav-link" href="/aboutus">About Us</a>
            </li>
        </ul>
    </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <div class="card">
        <img src="<%= user.thumbnail %>" alt="user_img" style="width:100%"/>
        <!-- <script>console.log(user.thumbnail)</script> -->
        <h2><%= user.username %></h2>
        <p class="title"> <%= user.email_id %></p>
        <p style="font-weight: 600;"><%= user.Branch_name.toUpperCase() %>, <%= user.Institute_name.toUpperCase() %></p>
        <p style="font-weight: 600;"><%= user.University_name.toUpperCase() %></p>
        <!-- <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
        </div> -->
        
      </div>
    </div>
    <div class="col-sm-8 text-left"> 
      
<h3>Welcome, <%= list.Student_name %> </h3>
<br>
<ul id="hui" style="list-style-type: none;">
    <p id="active" style="display: none;"><%= active++%></p>
    <p id="resolve" style="display: none;"><%=resolve%></p>


    <div>
        <% for(var i=1; i< list.Complaint.length ;i++){%>
        <h4></h4>
        <div class="w3-container">
            <!-- <h2>Avatar List</h2>
            <p>You can combine w3-ul and the w3-bar classes to create an avatar list:</p> -->
            <ul class="w3-ul w3-card-4">
              <li class="w3-bar">
            
                <img src="<%= user.thumbnail %>" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                <div class="w3-bar-item">
                  <span class="w3-large"> <strong><%= list.Complaint[i].complan%></strong> </span><br>
                  <span><strong>Status:</strong> <%= list.Complaint[i].complain_status%></span>
                          <span> <strong>Priority:</strong>  <%= list.Complaint[i].complain_priority%></span>
          
                </div>
              </li>

              </li>
            </ul>
            <br>
          </div>
        <%  } %>

    </div>
</ul>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <div class="card" id="piechart">
            <!-- <div id="piechart"> -->
    
              <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            
              <script type="text/javascript">
              // Load google charts
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);
              var active = document.getElementById("active").innerText;
                var a =parseInt(active)
                var resolve = document.getElementById("resolve").innerText;
                var r = parseInt(resolve)
                var clos = document.getElementById("close").innerText;
                var c = parseInt(clos)
                
    
              // Draw the chart and set the chart values
              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                ['Complaints', 'STATUS'],
                ['Active', a],
                ['Resolved',r ],
                ['Close',c ],
                ['Forwarded', 2],
              //   ['Sleep', 8]
              ]);
              
                // Optional; add a title and set the width and height of the chart
                var options = {'title':'Complaint Status'};
              
                // Display the chart inside the <div> element with id="piechart"
                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
              }
              </script>
        </div>

      </div>
      <div class="well">
        <button ><a style="color: #f1f1f1;" href="/profile/complaint">LODGE NEW COMPLAIN</a></button>
      </div>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
</body>
</html>
